body {
    font-family: sans-serif;
    text-align: center;
    background-color: rgb(2, 2, 2);
}
p  {color: white;

}
h1 {
    margin-top: 300px;
    color: red;
}

input[type="number"] {
    margin-top: 20px;
    padding: 5px;
}

button {
    margin-top: 10px;
    padding: 10px;
    cursor: pointer;
}

#resposta {
    color: green;
    margin-top: 10px;
    font-weight: bold;
}
#resposta2 {
    color: red;
    margin-top: 10px;
    font-weight: bold;
}